.banner{
    div{
        display: inline-block;
        padding: 0px;
        height: 640px;
        img{
            position: relative;
            z-index: -1;
            height: inherit;
            width: inherit;
        }
    }
}

.banner-1{
    background: linear-gradient(to bottom , rgba(255,255,255,0) 30% , rgba(120,20,147,0.65) 100%);
    position: relative;
}

.banner-2{
    background: linear-gradient(to bottom , rgba(255,255,255,0) 30% , rgba(236,70,16,0.65) 100%);
    position: relative;
}

.banner-3{
    background: linear-gradient(to bottom , rgba(255,255,255,0) 30% , rgba(2,129,212,0.65) 100%);
    position: relative;
}

.banner-text-1{
    position: absolute;
    top: 450px;
    left: 25px;
    .banner-name{
        color: #fff;
        padding: 2px 5px;
        background: #3b59a1;
        font-size: 12px;
    }
    .banner-view{
        color: #fff;
        font-weight: 700;
        font-size: 12px;
        margin-left: 20px;
    }
    p{
        font-size: 22px;
        font-weight: 700;
        color: #fff;
    }
    .banner-time{
        font-size: 10px;
        font-weight: 700;
        color: #fff;
    }
}

.banner-text-2{
    position: absolute;
    top: 450px;
    left: 25px;
    .banner-name{
        color: #fff;
        padding: 2px 5px;
        background: #8a3ab9;
        font-size: 12px;
    }
    .banner-view{
        color: #fff;
        font-weight: 700;
        font-size: 12px;
        margin-left: 20px;
    }
    p{
        font-size: 22px;
        font-weight: 700;
        color: #fff;
    }
    .banner-time{
        font-size: 10px;
        font-weight: 700;
        color: #fff;
    }
}

.banner-text-3{
    position: absolute;
    top: 450px;
    left: 25px;
    .banner-name{
        color: #fff;
        padding: 2px 5px;
        background: #dd4c39;
        font-size: 12px;
    }
    .banner-view{
        color: #fff;
        font-weight: 700;
        font-size: 12px;
        margin-left: 20px;
    }
    p{
        font-size: 22px;
        font-weight: 700;
        color: #fff;
    }
    .banner-time{
        font-size: 10px;
        font-weight: 700;
        color: #fff;
    }
}